{% extends 'base.html.twig' %}

{% block body %}
    <h1>Localjardin</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ localJardin.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ localJardin.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ localJardin.description }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ localJardin.adresse }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ localJardin.tel }}</td>
            </tr>
            <tr>
                <th>Siteweb</th>
                <td>{{ localJardin.siteWeb }}</td>
            </tr>
            <tr>
                <th>Gps</th>
                <td>{{ localJardin.gps }}</td>
            </tr>
            <tr>
                <th>Valide</th>
                <td>{% if localJardin.valide %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Dateajout</th>
                <td>{% if localJardin.dateAjout %}{{ localJardin.dateAjout|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datevalidation</th>
                <td>{% if localJardin.dateValidation %}{{ localJardin.dateValidation|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('localjardin_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('localjardin_edit', { 'id': localJardin.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
