{% extends 'dashboard.html.twig' %}

{% block body %}

    <div class="title_left">
        <h1 align="center">Liste des Professionnels Santé</h1>
    </div>

    <div class="x_panel" align="auto">
        <div class="x_title">
            <div class="clearfix">
                <div>
                    <h2 align="center"><u>Affichage Professionnel</u> : {{ professionnelSante.idPro }}</h2>
                </div>
            <ul class="nav navbar-right ">
                <a href="{{ path('professionnelsante_index') }}"><i class="fa fa-reply"></i> Retour à la liste</a></br>
                <a href="{{ path('professionnelsante_edit',{ 'idPro': professionnelSante.idPro }) }}"><i class="fa fa-edit"></i> Modifier</a></br>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <table class="table table-bordered">

        <tbody>
            <tr>
                <th>Telephone</th>
                <td>{{ professionnelSante.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ professionnelSante.adresse }}</td>
            </tr>
            <tr>
                <th>Gps</th>
                <td>{{ professionnelSante.gps }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ professionnelSante.tarif }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}
