{% extends "dashboard.html.twig" %}

{% block body %}
        <div class="">
            <div class="clearfix"></div>


                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Matières
                                <small>liste complète</small>
                            </h2>
                            <ul class="nav navbar-right ">
                                <li>
                                    <a href="{{ path('matiere_new') }}">Ajouter une matière</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Année scolaire</th>
                                    <th>Libellé</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for matiere in matieres %}
                                    <tr>
                                        <td>{{ matiere.id }}</td>
                                        <td>{{ matiere.anneeScolaire }}</td>
                                        <td>{{ matiere.libelle }}</td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="{{ path('matiere_edit', { 'id': matiere.id }) }}">
                                                        <i class="fa fa-edit"></i><i class="fa fa-trash"></i> Modifier
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
{% endblock %}
