{% extends 'dashboard.html.twig' %}

{% block body %}
<div class="title_left">
    <h1 align="center"> Jardins de  {{ jardin.nom }} </h1>
</div>
<div class="x_panel" align="auto">
    <table id="datatable" class="table table-striped table-bordered">

        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jardin.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ jardin.nom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ jardin.tel }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ jardin.adresse }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ jardin.lien }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ jardin.image }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if jardin.updatedAt %}{{ jardin.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('jardins_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('jardins_edit', { 'id': jardin.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
