{% extends "dashboard.html.twig" %}

{% block body %}
    <div class="x_title">
        <h2>Adresses utiles</h2>
        <small>Carte</small>
        <ul class="nav navbar-right ">
            <a href="{{ path('adresseutile_index') }}">Retour à la liste</a>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div id="map" class="col-md-6 col-sm-6 col-xs-12" style="height: 500px;width: 100%">

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        function myMap() {
            var myCenter = new google.maps.LatLng(35.723347, 9.273241);
            var mapCanvas = document.getElementById("map");
            var mapOptions = {center: myCenter, zoom: 7};
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var icon;
            {% for adresseUtile in adresseUtiles %}
                {% if adresseUtile.gps %}
                myCenter = new google.maps.LatLng({{ adresseUtile.gps }});
                {% if adresseUtile.valide %}
                    icon = 'http://maps.google.com/mapfiles/ms/micons/green-dot.png'
                    {% else %}
                    icon = 'http://maps.google.com/mapfiles/ms/micons/red-dot.png';
                {% endif %}
                var marker{{ adresseUtile.id }} = new google.maps.Marker({
                    position: myCenter,
                    title: '{{ adresseUtile.nom }}',
                    icon: icon
                });
                marker{{ adresseUtile.id }}.setMap(map);
                google.maps.event.addListener(marker{{ adresseUtile.id }}, 'click', function () {
                    map.setZoom(16);
                    map.setCenter(marker{{ adresseUtile.id }}.getPosition());

                });
                {% endif %}
            {% endfor %}
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA05SEH4coDJXkud9GF2qhrn1ee750_jz0&callback=myMap"></script>
{% endblock %}
