{% extends 'dashboard.html.twig' %}

{% block body %}
    <h1>Localites list</h1>

    <table>
        <thead>
            <tr>
                <th>Idlocalite</th>
                <th>Libellelocalite</th>
                <th>Codepostal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for localite in localites %}
            <tr>
                <td><a href="{{ path('localite_show', { 'idLocalite': localite.idLocalite }) }}">{{ localite.idLocalite }}</a></td>
                <td>{{ localite.libelleLocalite }}</td>
                <td>{{ localite.codePostal }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('localite_show', { 'idLocalite': localite.idLocalite }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('localite_edit', { 'idLocalite': localite.idLocalite }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('localite_new') }}">Create a new localite</a>
        </li>
    </ul>
{% endblock %}
