{% extends "dashboard.html.twig" %}

{% block body %}

    <div class="x_panel">
        <div class="x_title">
            <h2>Galerie des addresses utiles<small>liste complète</small></h2>
            <ul class="nav navbar-right ">
                <li>
                    <a href="{{ path('imagelieu_new') }}">Ajouter une image d'addresse utile</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">


            {% for ImageLieu in imageLieus %}
            <div class="col-md-55">
                <div class="thumbnail">
                    <div class="image view view-first">
                        <img style="width: 100%; display: block;" src="{{ asset('images/adresses/') }}{{ ImageLieu.imageName }}" alt="image">
                        <div class="mask no-caption">
                            <div class="tools tools-bottom">
                                <a href="{{ asset('images/adresses/') }}{{ ImageLieu.imageName }}"><i class="fa fa-link"></i></a>
                                <a href="{{ path('imagelieu_edit', { 'id': ImageLieu.id }) }}"><i class="fa fa-pencil"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="caption">
                        <p><strong><a href="{{ path('adresseutile_show', { 'id': ImageLieu.adresseUtile.id }) }}">{{ ImageLieu.adresseUtile.nom }}</a></strong>
                        </p>
                        <p>{{ ImageLieu.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
