{% extends 'dashboard.html.twig' %}

{% block body %}

    <div class="title_left">
        <h1 align="center">Liste des Rendez-Vous Santé</h1>
    </div>
<div class="x_panel" align="auto">
    <div class="x_title">
        <div class="clearfix">
            <div>

                <h2 align="center"><u>Affichage Rendez vous</u> : {{ rDVSante.idRdv}}</h2>
            </div>
            <ul class="nav navbar-right ">
                <a href="{{ path('rdvsante_index') }}"><i class="fa fa-reply"></i> Retour à la liste</a></br>
                <a href="{{ path('rdvsante_edit',{ 'idRdv': rDVSante.idRdv }) }}"><i class="fa fa-edit"></i> Modifier</a></br>
            </ul>
        </div>
    </div>
    <table class="table table-bordered">

        <tbody>
            <tr>
                <th>Nom Professionel</th>
                <td>{{ rDVSante.professionnel }}</td>
            </tr>
            <tr>
                <th>Nom Patient</th>
            <td>{{ rDVSante.patient }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ rDVSante.duree }}</td>
            </tr>
            <tr>
                <th>Date Rendez Vous</th>
                <td>{% if rDVSante.dateRDV %}{{ rDVSante.dateRDV|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Confirmé</th>
                <td>{% if rDVSante.isValidated %}Oui{% else %}Non{% endif %}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
