{% extends 'dashboard.html.twig' %}

{% block body %}
    <h1>Listeappelurgence</h1>

    <table>
        <tbody>
            <tr>
                <th>Idnumurgence</th>
                <td>{{ listeAppelUrgence.idNumUrgence }}</td>
            </tr>
            <tr>
                <th>Libellenumurgence</th>
                <td>{{ listeAppelUrgence.libelleNumUrgence }}</td>
            </tr>
            <tr>
                <th>Numurgence</th>
                <td>{{ listeAppelUrgence.NumUrgence }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('images/urgence/') }}{{ listeAppelUrgence.image }}" height="200"></td>
                {#<td>{{ listeAppelUrgence.image }}</td>#}
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if listeAppelUrgence.updatedAt %}{{ listeAppelUrgence.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('listeappelurgence_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('listeappelurgence_edit', { 'idNumUrgence': listeAppelUrgence.idNumUrgence }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
